*{
    box-sizing: border-box;
}

body{
    background: rgba(0, 0, 0, 0.8);
    line-height: 1.5;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    padding: 1em;
    margin: 0;
    padding: 0;
}

.container{
    max-width: 1000px;
    min-width: 600px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

figure {
    margin: 0;
}

.title {
    background-color: rgba(66,139,202, 1);
    padding: 20px;
}

.title h1 {
    text-align: center;
    color: rgba(245, 245, 245, 1);
    margin: 0;
    font-weight: 600;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
}

.title h3{
    color: rgba(245, 245, 245, 1);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    font-weight: 100;
    text-align: center;
    margin: 0;
    font-size: 1.1em;
}

#logo{
    width: auto;
    height: auto;
    max-height: 100px;
    max-width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -8px;
}
        
.issue-form{
    border: 3px solid rgba(245, 245, 245, 0.8);
    border-radius: 5px;
    background: rgba(245, 245, 245, 1);
    width: 80%;
    margin: auto;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.wrapper > *{
    padding: 1em;
}

.wrapper{
    min-height: 800px;
}

nav{
    width: 60%;
    margin: auto;
    margin-top: 10px;
    border: 3px solid rgba(245, 245, 245, 0.8);
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background: rgba(245, 245, 245, 1);
    position: relative;
}

nav ul {
    padding: 0;
    margin: auto;
    list-style: none;
    text-align: center;
}

nav li{
    display: inline;
    text-align: center;
}

/*FORM STYLES*/

.issue-form label{
    display: block;
}

.issue-form p{
    margin-left: 40px;
}

.issue-form button, .issue-form input, issue-form textarea{
    padding: 1em;
    border: 0.5px solid grey;
}

.issue-form select{
    width: 30%;
    max-width: 140px;
}

.issue-form textarea, .issue-form select, .issue-form input{
    padding: 5px;
    border: 0.5px solid grey;
    border-radius: 5px;
}

.issue-form textarea, .issue-form input{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    width: 95%;
    max-width: 900px;
}

.issue-form button{
    color: rgba(245, 245, 245, 1);
    position: relative;
    margin-top: 10px;
    background-color: rgba(66,139,202, 0.9);
    max-width: auto;
    cursor: pointer;
    font-size: 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 0 4px rgba(66,139,202, 1);
}

.issue-form button:hover{
    box-shadow: none;
    top: 2px;
} 

.issue-form button:active{
    box-shadow: none;
    top: 3px;
} 

/*BUTTON NAV*/

.delete-closed{
    color: rgba(245, 245, 245, 1);
    position: relative;
    border-radius: 5px;
    padding: 11px;
    font-size: 13.5px;
    border: none;
    outline: none;
    background-color: rgba(217,83,79, 0.9);
    margin-left: 30px;
    cursor: pointer;
    box-shadow: 0 4px rgba(217,83,79, 1);
}

.delete-closed:hover{
    box-shadow: none;
    top: 2px;
}

.delete-closed:active{
    box-shadow: none;
    top: 3px;
}

hr{
    border: 0;
    width: 90%;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/*DROPDOWN BUTTON*/

.drop-button{
    background-color: rgba(92,184,92, 0.8);
    color: rgba(245, 245, 245, 1);
    position: relative;
    width: 110px;
    padding: 11px;
    font-size: 13.5px;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px rgba(92,184,92, 1);
}

.drop-button:hover{
    box-shadow: none;
    top: 2px;
}

.drop-button:active{
    box-shadow: none;
    top: 3px;
}

.dropdown-menu{
    position: relative;
    display: inline-block;   
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 110px;
    border-radius: 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    font-size: 13px;
    padding: 10px 2px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #BADA55;
    border: 0.5px solid grey;
    cursor: default;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.show {
    display:block;
}

/*COUNTER*/

#count{
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    display: inline;
    float: right;
    margin-top: -38px;
}

/*ISSUES*/

.img{
    width: auto;
    height: auto;
    max-height: 80px;
    max-width: 80px;
    margin-left: 20px;
    text-align: left;
    display: block;
    margin-bottom: -30px;
}

.img-triangle{
    float: left;
    width: auto;
    height: auto;
    max-height: 35px;
    max-width: 35px;
    text-align: left;
    display: block;
    margin-left: -29px;
}

.issue{
    width: 80%;
    margin: auto;
    margin-top: 60px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    background: rgba(245, 245, 245, 1);
    border: 2px solid #BADA55;
    transition: opacity 0.7s;
}

.delete-transition{
    opacity: 0;
}

.issue-content, .id-severity{
    padding: 1.5em;
}

.description{
    border-radius: 5px;
    border: 3px solid #DDD;
    min-height: 100px;
    background-color: rgba(245, 245, 245, 1);
    word-wrap: break-word;
    padding: 1em;
}

.issue-delete{
    border-radius: 5px;
    padding: 11px;
    font-size: 12.5px;
    border: 1px solid #FF4136;
    background: #FF4136;
    margin-left: 30px;
    cursor: pointer;
}

.issue-closed{
    margin-left: auto;
    background-color: #BADA55;
    color: black;
    width: 100px;
    padding: 11px;
    font-size: 12.5px;
    border: 1px solid #BADA55;
    border-radius: 5px;
    cursor: pointer;    
}

.issue-closed:hover, .issue-delete:hover{
    color: rgba(245, 245, 245, 1);
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

.issue-closed-true{
    margin-left: auto;
    background-color: rgba(245, 245, 245, 1);
    color: black;
    width: 100px;
    padding: 11px;
    font-size: 12.5px;
    border: 1px solid #BADA55;
    border-radius: 5px;
    cursor: pointer;  
}

.id{
    border-bottom: 2px solid #BADA55;
    display: inline;
    font-size: 12.5px;
    float: right;
    margin-right: -20px;
}

.severity{
    position: absolute;
    margin-top: 10px;
    margin-left: 10px;  
}

.status-open{
    background-color: #BADA55;
    border: 1px solid #BADA55;
    border-radius: 5px;
    padding: 2px;
    width: 40%;
}

.status-closed{
    background-color: #FF4136;
    border: 1px solid #FF4136;
    opacity: 0.8;
    border-radius: 5px;
}

/*SMALL SCREENS*/

@media(min-width: 300px){
    
    .delete-closed {
        margin: 10px;
    }
}